@import './../Styles/mixins.scss';
@import './../Styles/variables.scss';

.todos {
    @include size(100%, 100vh);
    @include flex(center, flex-start, column);
    padding-top: 1.875rem;
    gap: 1.5rem;

    &--content {
        @include size(100%);
        @include flex(center, flex-start, column); 
        
        & > span, & > div {
            @include size(100%, 56px, 719px);
            @include flex(center);;
            border: 1px solid $todo-light-grey;
            padding: 1rem;
            position: relative;
        }

        
        &__actions--row {
            @include size(100%, 56px, 719px);
            @include flex(center, center);
            border: 1px solid $todo-light-grey;
            padding: 0 !important;
            cursor: pointer;
            transition: all 0.3s;
        }
    }
}