@import '../../../Styles/mixins.scss';
@import '../../../Styles/variables.scss';

.item-pinned {
    background-color: $todo-light-grey;

    & > svg, & > input {
        background-color: $todo-bg-transparent;
    }
}

.item-edit-input {
    @include size(100%);
    position: relative;
    padding: 0 !important;

    & > input {
    @include size(93%, 100%, 719px);
    @include border-off;
    padding: 1rem;
    font-size: inherit;
    }

    &-submit {
        @include icon-button(2.5rem);
    }

    &-cancel {
        @include icon-button(1rem);
    }
}