@import '../../../Styles/mixins.scss';
@import '../../../Styles/variables.scss';

.input--wrapper {
    @include flex(center);
    @include size(719px, 56px);
    background-color: $todo-light-grey;
    position: relative;
    
    & > svg {
        @include icon-button(0);
        background-color: $todo-bg-transparent;
        margin-top: 0.3125rem;
        padding: 0.1875rem;
    }
}

.input {
    @include border-off;
    @include size(95%, 100%);
    background-color: $todo-bg-transparent;
    padding: 1rem;
    font-size: inherit;
}